<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyr.minio.mapper.TagMapper">
    <select id="getAll" resultType="tag">
        SELECT *
        FROM tags;
    </select>

    <insert id="addTag" parameterType="tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tags
        VALUES (null, #{name})
    </insert>

    <delete id="removeTag" parameterType="int">
        DELETE
        FROM tags
        WHERE id = #{id}
    </delete>

</mapper>